{% load static %}
{% load bootstrap4 %}
{% load custom_filters %}
<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Projetos</title>
    <link rel="icon" type="image/x-icon" href="{% static 'planilha/images/ico.png' %}">
    {% bootstrap_css %}
</head>

<body>
    {% include '_nav.html' %}
    <div class="container mt-4">

        <h1>Projetos em andamento</h1>
        <a href="{% url 'novo_projeto' %}" class="btn btn-outline-primary my-2 my-sm-0" role="button">
            + projeto
        </a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Projeto</th>
                    <th>Editora</th>
                    <th>Ciclo</th>
                    <th>Criado em</th>
                    <th>Modificado em</th>
                    <th>Ativo</th>
                </tr>
            </thead>
            <tbody>
                {% for p in projetos_ativos %}

                <tr>
                    <td>{{ p.nome }}</td>
                    <td>{{ p.editora }}</td>
                    <td>{{ p.ciclo }}</td>
                    <td>{{ p.criado_em | date:"d/m/y" }}</td>
                    <td>{{ p.modificado_em | date:"d/m/y" }}</td>
                    <td>{{ p.ativo|boolean_to_icon }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>



    </div>

    <div class="container">
        <h1>Projetos arquivados</h1>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Projeto</th>
                    <th>Editora</th>
                    <th>Ciclo</th>
                    <th>Criado em</th>
                    <th>Modificado em</th>
                    <th>Ativo</th>
                </tr>
            </thead>
            <tbody>
                {% for p in projetos_arquivados %}

                <tr>
                    <td>{{ p.nome }}</td>
                    <td>{{ p.editora }}</td>
                    <td>{{ p.ciclo }}</td>
                    <td>{{ p.criado_em | date:"d/m/y" }}</td>
                    <td>{{ p.modificado_em | date:"d/m/y" }}</td>
                    <td>{{ p.ativo|boolean_to_icon }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-block" style="height: 300px;"></div>
    {% bootstrap_javascript jquery='full' %}
</body>

</html>